
button{
    margin-right: 10px;
    margin-top: 20px;
    font-size: 28px;
    padding:20px 50px ;
    /* background-color:red; */
}
/* .box-light{

height: 300px;
width: 300px;border-radius: 50%;
border: 2px black solid;
} */

.box-parent{
    margin-top: 50px;
    display: flex;
justify-content: center;
}
img{
    width: 200px;
}

.off{
    display: none;
}